body {
  display: flex;
  justify-content: space-around;
}

table, tr, td {
  border: 1px solid black;
}

.ship {
  background-color: blue;
}

.sunk-self {
  background-color: red;
}

.sunk-enemy {
  background-color: green;
}